button.set-filter {
    color: #252849;
    border: 1px solid #cbcbcb;
    padding: 4px 14px;
    border-radius: 50px;
    font-weight: 300 !important;
    background-color: #fff;
}
select.form-select.sl.ml-3 {
    border-radius: 50px;
    color: #252849;
}
i.fa.fa-plus-circle.mr-2 {
    font-size: 27px;
}
thead.thead-clr tr th {
    background-color: #EFF2F5 !important;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
a.ref-mail {
    color: #00BAFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: auto !important;
}
p.td-set {
    color: #252849;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
}
span.active-button {
    color: #00A832;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    background-color: #00d43f29;
    padding: 6px 10px;
    border-radius: 50px;
}
span.Inactive-button {
    color: #E73C3C;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    background-color: #e73c3c21;
    padding: 6px 10px;
    border-radius: 50px;}
p.name-person{
    color: #000;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
}
tr.table_row td {
    vertical-align: middle;
}
img.person-imgs {
  
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 6px;
}
