@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$borderRadius: 10px;
$transition: all .3s linear;

body {
  padding: 0;
  margin: 0;
  height: 100%; 
}
a.overflowTitle {
  position: absolute;
  z-index: 999;
  top: 29px;
  left: 26px;
  width: 28px;
  height: 28px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.card-img-overlay { 
  left: 0px !important;
}
// .carousel .slide img { 
//   height: 450px !important;
//   object-fit: contain !important;
//   opacity: 0.6;
// }
.card-img-overlay {
  z-index: 9;
}

h5.title {
  text-transform: capitalize;
}
h3.overflowTitle {
  position: absolute;
  z-index: 99;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.scroll-indicator{
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #0061a0;
  z-index: 2;
  width: 0%;
  transition: $transition;
}
.content {
  dispay: grid;
  width: 60%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
  
  .poster {
    width: 100%;
    height: 350px;
    display: grid;
    border-radius: $borderRadius;
    margin-top: 40px;
    overflow: hidden;
    background: center no-repeat url(https://img5.goodfon.ru/wallpaper/nbig/f/af/tsvety-gortenziia-vetka-golubye-fon-razmytie-boke.jpg);
    position: relative;
    box-shadow: 0px 4px 100px -3px #00059733;
    
    .poster-title {
      position: absolute;
      bottom: 40px;
      left: 40px;
      width: 40%;
      
      h1 {
        font-size: 40px;
        color: white;
        font-weight: 300;
        margin: 20px 0;
      }
      .line {
        background-color: #b4c4c5;
        width: 100%;
        height: 1px;
      }
      p {
        color: #b4c4c5;
        font-size: 12px;
        line-height: 1.8em;
      }
    }
    
    .poster-buttons {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 100px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: white;
      text-align: center;
      
      div {
        cursor: pointer;
        
        &:hover {
          color: #ccc;  
        }
      }
    }
  }
}

.footer {
  width: 100%;
  min-height: 150px;
  margin-top: 100px;
  padding: 100px 0;
  background: linear-gradient(0deg, #ffffff 0%, #efefef 100%);
  
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    font-size: 14px;
    color: #777;
  } 
}

.info {
  border-radius: $borderRadius;
  border: 1px solid #e9e9f6;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px auto;
  background-color: #fdfdfd;
  overflow: hidden;
  height: 100px;
  
  .block {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #242e47;
    
    .mini-title{
      font-size: 12px;
      color: #999999;
      font-weight: 700;
    }
  }
}

.words {
  padding: 0 0 0 45px;
  position: relative;
  p {
    margin: 20px auto;
    position: relative;
    color: #777;
    
    .buttons {
      position: absolute;
      right: 10px;
      width: 40px; 
      height: 100px; 
      background-color: #777;
    }
    
    .letter {
      font-size: 100px; 
      position: absolute;
      top: 15px;
      left: -45px;
      color: #8787870f;
      font-weight: 700;
    }
  }
  .buttons {
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -30px;
    font-size: 20px;
    transition: $transition;
    cursor: pointer;
  }
  &:hover {
    .buttons {
      opacity: 1;
    }
  }
}

.quote {
  position: relative;
  padding: 40px 40px 40px 45px;
  background-color: #fdfdfd;
  border-radius: $borderRadius;
  min-height: 140px;
  font-size: 22px;
  line-height: 1.5em;
  font-family: "Times New Roman", Times, serif;
  color: #777;
  
  .letter {
    font-size: 150px;
    position: absolute;
    top: 50px;
    color: #ebebeb;
  }
  .author {
    font-size: 12px;
    &::before {
      content: '';
      width: 40px;
      height: 1px;
    }
  }
}

@media (max-width: 700px) {
  .content {
    width: 90%;
  }
  .info {
    grid-template-columns: repeat(2, 1fr);
    height: 120px;
  }
  .content .poster {
    height: 250px;
  }
  .content .poster .poster-title {
    h1 {
      font-size: 25px;
    }
    p, .line {
      display: none;
    }
  }
  .quote {
    font-size: 16px;
    .letter {
      left: 0px;
    }
  }
}


.blog_section .image_blogs {
  background-color: aliceblue;
  height: 400px;
  object-fit: contain;
}
.blog_section {
  padding: 60px 0px;
}

.blog_section  .carousel.carousel-slider .control-arrow {
  opacity: 7 !important;
  background-color: #68bafe;
  width: 24px;
  height: 24px;
  border-radius: 31px;
  top: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.blog_section   .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before{
  margin: 0px !important;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
}
.blog_section  .carousel .control-prev.control-arrow {
  left: 7%;
}

.blog_section  .carousel .control-next.control-arrow {
  right: 7%;
}

.blog_section  .carousel .carousel-status {
  width: 80px;
  position: absolute;
  top: 88%;
  right: 50%;
  color: #fff;
  background-color: #86bafd;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  height: 24px;
  transform: translate(50%, 50%);
  display: flex;
  justify-content: center;
  text-shadow: unset;
  margin-bottom: 0px;
  align-items: center;
}


.blog_section .blog_cols {
  border: 1px solid #d6d4d5;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f3f3f3;
  padding: 10px;
  position: relative;
}

.blog_section .carousel-root.blog_bg a.btn.btn-light.btn-sm{
  text-align: left;
  margin: auto 0 0 0;
  display: block;
  position: absolute;
  left: 48px;
  border: 1px solid transparent !important;
  top: 18px;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.blog_section .blogs-inner {
  padding: 15px !important;
  border-radius: 4px;
  border: 1px solid #d5d4d5;
  height: 100%;
  box-shadow: unset !important;
}

.blogs-inner .blog_title {
  font-size: 24px;
}

.blogs-inner .blog_title_inner {
  font-size: 18px;
}

.blogs-inner .blog_paragraph {
  margin-bottom: 0px;
  font-size: 14px;
  text-transform: capitalize;
}

.categories-inner .cate_lists {
  list-style: none;
}

ul.categories-inner {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  gap: 14px;
}

.categories-inner .cate_lists {
  background-color: #f3f3f3;
  border: 1px solid #d5d4d5;
  padding: 3px 12px;
  border-radius: 17px;
  font-size: 14px;
}

.categories_titles {
  font-size: 24px;
  margin-bottom: 0px;
}

.categories {
  height: 100%;
  border: 1px solid #d5d4d5;
  border-radius: 4px;
  padding: 14px;
}