.custom-copy-btn {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    background-color: hwb(231 12% 24%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .custom-copy-btn:hover {
    background-color: #454ca0;
  }
  