@import '../../../scss/mixins';

.main-sidebar .nav .nav-item.active>.nav-link {
    background-color: #fff;
    color: #707070;
    font-size: 14px;
    font-weight: 500;
}

.disabled {
    pointer-events: none;
}

.hoverclass:hover {
    background: #D7F5FF;
    color: #197D9F !important;
    font-size: 14px;
    font-weight: 500;

}

.main-sidebar .nav .nav-item .nav-link {
    color: #202020 !important;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    margin: 3px 0px;
    display: flex;
    margin: 3px 13px;
    border-radius: 12px;
    // border-left: 5px solid #fff;
    align-items: center;

    & i {
        color: #898989;
        font-size: 18px;
    }

    & i.sidenv {
        display: none;
    }


}

.main-sidebar .nav .nav-item>.nav-link:hover,
.main-sidebar .nav .nav-item.active>.nav-link {
    color: #000 !important;
    background: #ff3d2226;
    font-size: 16px;
    font-weight: 300;
    // border-left: 5px solid #ff3d22;
    display: flex;
    height: 40px;
    align-items: center;
    margin: 3px 13px;
    border-radius: 12px;

    & i {
        color: #ff3d22;
    }

}

a.col_side {
    color: #202020 !important;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    display: flex;
    margin: 3px 14px;
    border-radius: 12px;
    align-items: center;
    padding: 0px 15px;
    justify-content: space-between;
    width: auto;
}

a.col_side:hover {
    color: #000 !important;
    background: #ff3d2226;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    height: 40px;
    margin: 3px 14px;
    border-radius: 12px;
    align-items: center;
    padding: 0px 15px;
    text-decoration: none;

    & i {
        color: #898989;
    }

    &.card.card-body.sides {
        border: none;
        visibility: hidden;
    }
}

.logocls {
    width: 100%;
    max-width: 185px !important;
}

.hoverclass {
    &.nobg {
        background: none !important;
    }
}

.submenu {
    display: none;
}

.active>.submenu {
    display: block;
}

.submenu>*>.hoverclass {
    padding-left: 25px;


}

.submenu.child2>*>.hoverclass {
    padding-left: 35px;
}

span.side_head {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.card.card-body.sides {
    // margin:6px;
    padding: 0px 0px;
}

.card.card-body.sides li.nav-item.active a span {
    color: #765aa6 !important;
    font-weight: 300 !important;
}

.card.card-body.sides li a {
    border-radius: 4px !important;
    padding-left: 42px;
}

.card.card-body.sides {
    border: none;
}

.card.card-body.sides li a span {
    color: #5A5A5A !important;
    white-space: nowrap;
    // font-weight: 100;
    font-weight: 400;
    font-size: 14px;
    max-width: 165px;
}

span.side_icon {
    position: relative;
    right: -10px;
    top: 3px;
    color: #898989;
}

// .col_side i {
//     padding: 20px;
//     display: block;
//     font-size: 100px;
//     transition: all 0.4s ease;
//   }

//   .col_side :active i {
//     transform: rotateZ(-90deg);
//   }
.col_side div i.material-icons.mr-2 {
    color: #765aa6;
    font-size: 18px;

}

.collapsed div i.material-icons.mr-2 {
    color: #898989 !important;
    font-size: 18px;
}

a.col_side.collapsess i.material-icons.mr-2 {
    color: #765aa6 !important;

}

a.col_side.collapsess.collapsed i.material-icons.mr-2 {
    color: #898989 !important;
    font-size: 18px;

}

.sidees i {
    color: #898989 !important;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.logo-sidebar {
    padding: 20px;
    max-width: 200px;
    width: 100%;
}

.fixed-topbar {
    background: #fff;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
    position: sticky !important;
    top: 0 !important;
    z-index: 999;
}



.sidebar-left-content {
    padding:20px;
}

// .table-responsive {
//     overflow-y: auto;
//     height: 590px;
//     padding: 0 !important;
// }

// .table-responsive::-webkit-scrollbar {
//     width: 2px;
// }


// .left_sidebar {
//     height: 100vh;

// }
.table thead th {
    text-transform: uppercase;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #000;
    font-weight: 600;
    letter-spacing: .94px;
    font-size: 12px;
    background: #EFF2F5;
}

.new-sidebar .hoverclass:hover {
    // padding: 14px 13px !important;
    padding: 10px 12px !important;
    font-weight: 300;
    line-height: 20px;
    color: rgb(255, 255, 255) !important;
    background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);

}

.new-sidebar span.side_head {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #202020;
}

.new-sidebar .sidees span {
    color: #202020;
}

.new-sidebar .hoverclass:hover .sidees i {
    color: #fff !important;
}

.new-sidebar .hoverclass:hover .card.card-body.sides li a span {
    color: #fff !important;
}

.blue-header-main .nav-item.active {
    background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);
    color: #fff !important;
}

.blue-header-main .nav-item.active i {
    color: #fff !important;
}

.nav-link {
    padding: 1rem !important;
}

.blue-header-main .nav-item.active span {
    color: #fff !important;
}

.blue-header-main .nav-item.active span.side_head {
    color: #ffffff !important;
}

.new-sidebar .hoverclass:hover .sidees span {
    color: #ffffff !important;
}

.new-sidebar .nav-link.hoverclass:hover .card.card-body.sides li a span {
    color: #ffffff !important;
}

a.nav-link.hoverclass i {
    color: #202020;
}

.nav-item.active a.nav-link.hoverclass i {
    color: #fff;
}

.nav-item a.nav-link:hover i {
    color: #fff;
}

.new-sidebar .collapse.show .nav-link {
    display: block;
    padding: .5rem 2rem;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 300 !important;
}

.new-sidebar a.col_side:hover {
    background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);
    color: #fff !important;
}

.new-sidebar a.col_side:hover span {
    color: #fff
}

.new-sidebar a.col_side:hover i {
    color: #fff !important
}

.new-sidebar a.col_side:hover .sidees i {
    color: #ffffff !important;
}

.nav-item.active a.nav-link.hoverclass {
    background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);
    color: #fff !important;
}

.new-sidebar .nav-item.active .sidees span,
.new-sidebar .nav-item.active .sidees i {
    color: #fff !important;
}

// .sidebar_main.active a.nav-link.hoverclass span {
//     display: none;
// }

.sidebar_main.active .left_sidebar {
    width: 90px;
    // border-right: 1px solid #e2e2e2;
}

.sidebar_main.active .new-sidebar .sidees span {
    display: none;
}

.sidebar_main.active .logo-sidebar {
    padding: 20px;
    width: 90px;
}

.sidebar_main.active a.nav-link.hoverclass i.material-icons.mr-2 {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-img img {
    cursor: pointer;
}

a.nav-link.hoverclass {
    display: flex;
    align-items: center;
}

.new-sidebar .nav-item.active span.side_head {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #ffffff !important;
}

a.nav-link.hoverclass:hover span {
    color: #fff !important;
}

.hide-logo {
    display: none;
}

.sidebar_main.active .full-logo {
    display: none;
}

.sidebar_main.active .hide-logo {
    display: block;
    width: 25px;
    margin: 0 auto;
}

img.cross-hide {
    width: 16px;
}

.nmain-list {
    padding-top: 20px;
}

.main-affiliate {
    padding: 19px 0 0 0;
}


.sidebar_main .nav-item .nav-link .icon {
    display: none;
}

.sidebar_main.active .left_sidebar .nav-item .nav-link .icon {
    display: block;
}

.sidebar_main.active  .icns_center{
    justify-content: center;
}




.fontsize20 {
    font-size: 18px !important;
    position: relative ;
    top: 3px;
}




.sidebar_main.active a.nav-link.hoverclass span {
    display: none ;
}


.sidebar_main.active .left_sidebar .collapse.dropdown-btm.show {
    margin-left: 0px ;
}
.sidebar_main .left_sidebar  .collapse.dropdown-btm.show {
    margin-left: 20px ;
}









.nav-item a.hoverclass:hover .text_black path {
    fill: #fff;
}

.nav-item.active a.nav-link.hoverclass .text_black path {
    fill: #fff;
}

.nav-item .nav-link.hoverclass.affilate .text_black path {
    fill: #fff;
}

.nav-item .nav-link.hoverclass.affilate.collapsed-m .text_black path {
    fill: #252849;
}

.nav-item .nav-link.hoverclass.affilate:hover .text_black path {
    fill: #fff;
}


.text_black {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.sidebar_main.active .text_black {
    margin-right: 0px !important;
}

// gourav css start 








 
.sidebar_main.active .svg_iconbx {
    width: unset !important;
  }

  .sidebar_main.active .main-top{
margin: 0px auto ;
  }