i.fa.fa-plus-circle.mr-2 {
    font-size: 27px;
}


.manin_innertabs ul {
    border: none !important;
}

.manin_innertabs .nav-item .nav-link {
    background: #F8F9FA;
    border-radius: 50px;
    padding: 10px 13px !important;
    font-size: 14px;
}


.manin_innertabs .nav-tabs .nav-link.active {
    color: #ffffff !important;
    background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%) !important;
    border: 1px solid #dfd2d2 !important;
}

.addfile_commison a.m-0:hover {
    color: #d86bd6 !important;
}

// .sidebar_main.active a.nav-link {
//     width: 100% !important;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
// }


.sidebar_main.active a.nav-link.navtaabs {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

