/* ========== Responsive Styles ========== */

/* For screen width >= 1450px (Large desktops) */
@media (min-width: 1450px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1406px !important;
  }

  .platofm_imgs {
    width: 60%;
  }

  .fetausinners {
    width: 400px;
    padding: 40px;
  }

  .innerhtmls {
    font-size: 52px;
  }

  .lefttext {
    font-size: 52px;
  }

  .dashimgs {
    height: 400px;
  }
}

/* For screen width <= 1250px */
@media (max-width: 1250px) {
  .shopify-title {
    font-size: 35px;
  }

  .lefttext {
    font-size: 35px;
  }

  .platofm_imgs {
    width: 70%;
  }
}

/* For screen width <= 1024px (iPad landscape etc.) */
@media (min-width: 768px) and (max-width: 1024px) {
  .titleheads {
    font-size: 25px;
  }
}

/* For screen width <= 1024px (iPad landscape etc.) */
@media (min-width: 768px) and (max-width: 1450px) {
  .imgtag_card {
    width: 90% !important;
    margin: 0 auto;
    padding: 20px 0px !important;
  }
}

/* For screen width <= 992px (Small desktops / Large tablets) */
@media (max-width: 992px) {
  .shopify-title {
    font-size: 30px;
  }
  .lefttext {
    font-size: 28px;
  }
  .dashimgs {
    // height: 300px;
    margin-left: 10px;
  }

  .seclastsgives {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .paddings_dats {
    width: 100%;
    text-align: center;
  }
  .bannerimgs {
    height: unset;
  }
  .platform-wrapper {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }
  }
  .platform-content h2 {
    font-size: 28px !important;
    font-weight: 500 !important;
  }
}

/* For screen width <= 768px (Tablets and smaller devices) */
@media (max-width: 768px) {
  .innerhtmls {
    font-size: 28px;
    line-height: 35px;
  }
  .fetures_imgs,
  .fetures_imgslast,
  .hightwidth,
  .mainhome {
    margin-bottom: 20px;
    width: 100%;
  }

  .dashimgs {
    margin-left: 10px;
    // object-fit: contain;
    width: 100%;
  }

  .bgdotsprice {
    margin-top: 50px;
  }

  .para3 {
    font-size: 14px;
  }

  .bgdots {
    padding-bottom: 0px;
  }

  .rowmeatures {
    margin-top: 40px;
  }

  .fetausinners,
  .included-item,
  .pricing-option {
    margin-bottom: 20px;
    height: auto !important;
  }

  .shopify-title {
    font-size: 28px;
  }

  .section {
    text-align: center;
  }

  .section img {
    margin-bottom: 20px;
  }
  .imgbgs {
    padding: 10px;
  }
  .dashimgs {
    border-radius: 20px;
  }
  .platforms-page {
    .affiliate-tracking h2 {
      font-size: 28px;
    }
    .affiliate-tracking p {
      font-size: 18px;
    }
  }
  .platform-wrapper {
    h1 {
      font-size: 28px !important;
      line-height: 35px;
    }
  }
  .platform-content h2 {
    font-size: 24px !important;
    font-weight: 500 !important;
  }

}

/* For screen width <= 576px (Mobile devices) */
@media (max-width: 576px) {
  .shopify-title {
    font-size: 24px;
    text-align: center;
  }
  .dashimgs {
    height: 280px;
  }
  .platforms-page {
    section {
      padding-top: 0 !important;
    }
    .affiliate-tracking h2 {
      font-size: 24px;
    }
    .affiliate-tracking p {
      font-size: 16px;
    }
  }
  .platform-content h2 {
    font-size: 20px !important;
    font-weight: 500 !important;
  }
}
