/* ========== Responsive Styles ========== */

/* For screen width >= 1450px (Large desktops) */
@media (min-width: 1450px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1406px !important;
  }

  .fetausinners {
    width: 400px;
    padding: 40px;
  }

  .innerhtmls {
    font-size: 52px;
  }

  .lefttext {
    font-size: 52px;
  }
}

/* For screen width <= 1250px */
@media (max-width: 1250px) {
  .shopify-title {
    font-size: 35px;
  }

  .lefttext {
    font-size: 35px;
  }
}

/* For screen width <= 1024px (iPad landscape etc.) */
@media (min-width: 768px) and (max-width: 1024px) {
  .titleheads {
    font-size: 25px;
  }
}

/* For screen width <= 1024px (iPad landscape etc.) */
@media (min-width: 768px) and (max-width: 1450px) {
.imgtag_card {
  width: 90% !important;
  margin: 0 auto;
  padding: 20px 0px !important;
}
}

/* For screen width <= 992px (Small desktops / Large tablets) */
@media (max-width: 992px) {
  .shopify-title {
    font-size: 30px;
  }
  .lefttext {
    font-size: 28px;
  }


}

/* For screen width <= 768px (Tablets and smaller devices) */
@media (max-width: 768px) {
  .innerhtmls {
    font-size: 28px;
  }
  .fetures_imgs , .fetures_imgslast ,.hightwidth ,.mainhome{
    margin-bottom: 20px;
    width: 100%;
  }

  .bgdotsprice {
    margin-top: 50px;
  }

  .para3 {
    font-size: 14px;
  }

  .bgdots {
    padding-bottom: 0px;
  }

  .rowmeatures {
    margin-top: 40px;
  }

  .fetausinners,
  .included-item,
  .pricing-option {
    margin-bottom: 20px;
    height: auto !important;
  }

  .shopify-title {
    font-size: 28px;
  }

  .section {
    text-align: center;
  }

  .section img {
    margin-bottom: 20px;
  }
}

/* For screen width <= 576px (Mobile devices) */
@media (max-width: 576px) {
  .shopify-title {
    font-size: 24px;
    text-align: center;
  }
}
