@import "../../../scss/mixins";

// li a:hover {
//   color: #2271b8 !important;
// }

li a {
  color: #000 !important;
}

ul.footer_list {
  margin-left: 0px !important;
  padding-left: 0px;
}
ul.footer_list li {
  list-style: none;
  line-height: 2;
  a {
    &:hover {
      opacity: 0.7;
    }
  }
}
.pointer {
  cursor: pointer;
}
.right.d-flex a {
  color: #000;
}
