.heighteual {
    height: auto;
    width: 100px;
}

.card_box {
    border-radius: 7.588px;
    background: #FFF;
    box-shadow: 1.50808px 6.03233px 18.097px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}


.imgtag_card>* {
    margin: 10px;
    /* Adjust this value as needed */
}

.cpadd {
    padding: 60px 0px 0px;
}

.hover_box {
    margin-bottom: 30px;
}






.hover_box p {
    font-size: 14px;
}


.imgtag_card h4 {
    font-size: 16px;
    color: #1969BC;
}

.blue-color {
    color: #00BAFF !important;
    font-size: 30px;
    margin-bottom: 15px;
}

.bap-btn{
    padding: 14px 20px !important;
    font-size: 18px !important;
    @media(max-width:767px){
        padding: 12px 20px !important;
        font-size: 16px !important;
    }
}
.partners-heading{
    font-size: 30px;
    @media(max-width:767px){
        font-size: 28px !important;
        line-height: 38px;
        text-align: center;
    }
    @media(max-width:575px){
        font-size: 24px !important;
        line-height: 32px;
    }
}
.partners-page{
    .imgtag_card{
        width: 100% !important;
        padding:0px !important;
    }
}