// body {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 0;
//     background-color: #f9f9f9;
//   }
.platforms-page {
  header {
    background-color: #fff;
    color: #000;
    padding: 80px 150px;
    text-align: center;
  }

  header h1 {
    font-size: 36px;
  }

  header p {
    font-size: 18px;
    margin: 20px 0;
  }

  section {
    padding: 40px 0px;
    background-color: #ffffff;
    margin-bottom: 5px;
  }

  section h2 {
    font-size: 35px;
    margin-bottom: 5px;
    color: #00BAFF;
  }

  section p {
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
    margin-top: 1.5rem;
  }

  button.cta-button {
    background-color: #00b0ff;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }

  button.cta-button:hover {
    background-color: #009be5;
  }

  /* Visuals and Icons */
  .header-visual img,
  .overview-visual img,
  .tracking-visual img,
  .analytics-visual img,
  .payout-visual img,
  .integrations-logos img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .icons img {
    margin: 10px;
    width: 40px;
    height: 40px;
  }

  .cta-button {
    display: inline-block;
    margin-top: 20px;
  }
  .desc-pera {
    color: #000;
  }
  .last-section {
    text-align: center;
    margin: 0px 0px 50px 0px;
    padding-bottom: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e8e9ed;
    h2 {
      color: #000;
    }
  }
}
@media (max-width: 500px) {
  .platforms-page .header {
    padding: 30px;

    h1 {
      font-size: 30px !important;
    }
    header p {
      font-size: 15px;
      margin: 20px 0;
    }
  }
}

// Nikhil CSS

.dots-img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 240px;
  top: 230px;
}
.platform-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.platform-wrapper .para{
  margin: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 18px ;
}
.platform-content{
  display: flex;
  justify-content: space-between;
  padding: 30px 5px;
  border-bottom: 2px solid #000000;
}
.platform-content h3{
  color: #000 !important;
  font-size: 20px ;
  font-weight: bold;
}
.platform-content-2{
  display: flex;
  justify-content: space-between;
  padding: 30px 5px;
}
.platform-content-2 h2{
  color: #000 !important;
  font-size: 20px !important;
  font-weight: bold;
}
