.platform-feature-img img {
    max-width: 315px;
}

.platform-feature-left img {
    margin: 0 0 0 auto;
    display: block;
}

.blue-color {
    color: #00BAFF !important;
    font-size: 30px;
    margin-bottom: 15px;
}

.border-common {
    background: #164E63;
    width: 100px;
    height: 4px;
    margin: 18px 0;
}