button.set-filter {
  color: #252849;
  border: 1px solid #cbcbcb;
  padding: 4px 14px;
  border-radius: 50px;
  font-weight: 300 !important;
  background-color: #fff;
}

select.form-select.sl.ml-3 {
  border-radius: 50px;
  color: #252849;
}

i.fa.fa-plus-circle.mr-2 {
  font-size: 27px;
}

thead.thead-clr tr th {
  background-color: #EFF2F5 !important;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

a.ref-mail {
  color: #00BAFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: auto !important;
}

p.td-set {
  color: #252849;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0px;
}

span.active-button {
  color: #00A832;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  background-color: #00d43f29;
  padding: 6px 12px;
  border-radius: 50px;
}

span.Inactive-button {
  color: #E73C3C;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  background-color: #e73c3c21;
  padding: 6px 12px;
  border-radius: 50px;
}

p.name-person {
  color: #000;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0px;
}

img.person-img {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #d9dcde;
}

.checkbox-dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

.checkbox-options {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
}

.checkbox-dropdown.open .checkbox-options {
  display: block;
}

.checkbox-options label {
  display: block;
  padding: 5px;
}

.checkbox-options label:hover {
  background-color: #f0f0f0;
}

.checkbox-options label input {
  margin-right: 5px;
}

.checkbox-dropdown p {
  margin-top: 5px;
}

.checkbox-option-main {
  width: 100%;
}

.checkbox-inner.checkbox-dropdown.ml_3 {

  margin: 0 !important;
  height: 38px !important;
}

.d-flex.justify-content-between.align-items-center.mb-2 {
  margin-left: 26px;
}

.checkbox-inner .dropdown-header {
  border-radius: 50px !important;
}

.react-datepicker-wrapper .react-datepicker__input-container .react-datepicker__calendar-icon {
  position: absolute;
  box-sizing: content-box;
  padding: 0.375rem 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 12px 5px 35px !important;
  background-color: #fff !important;
}


.checkbox-inner .dropdown-header {
  border-radius: 50px !important;
  text-align: left;
  padding: 0.375rem 0.75rem;
  display: flex;
  align-items: center;
  overflow-y: auto;
  height: 38px;
  max-width: 200px;
  min-width: 200px;
}


.checkbox-dropdown.open .checkbox-options {
  display: block;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  border: 0;
  border-radius: 16px;
}

.checkbox-options label {
  display: flex;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;
}

.checkbox-options input[type=checkbox] {
  width: 36px;
  height: 19px;
}

.checkbox-options input[type=checkbox]::before {
  width: 12px;
  height: 12px;
  top: 3px;

}

.checkbox-dropdown.open .checkbox-options {

  padding: 0.7rem 0.5rem;
}

.checkbox-options label:hover {
  background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);
  color: #fff;
  cursor: pointer;
}

p.checkbox-option-main span {
  margin: 5px 5px;

}

.select-option-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p.checkbox-option-main {
  display: flex;
  margin: 0;
  flex-wrap: wrap;

}

.checkbox-options {
  width: 100%;
}

.react-datepicker__view-calendar-icon input:focus {
  border: 1px solid #ccc !important;
}

table {
  cursor: pointer;
}


// body {
//   overflow: hidden;
// }

/* Change the color of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Set the color of the thumb */
  border-radius: 6px;
  /* Set the border radius to make it round */
}

/* Change the shape of the scrollbar in Firefox */
/* Note: Firefox uses a different pseudo-element for styling scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Change the shape of the scrollbar thumb in Firefox */
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
}


.checkboxes {
  display: flex;
  // flex-wrap: wrap; 
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  width: 75vw;
  overflow-x: auto;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin: 10px;
  flex: 1 1 calc(33.33% - 20px);
}

.checkbox-item label {
  cursor: pointer;
  font-size: 15px;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-all;
}

.checkbox-item input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.checkboxes:hover {
  border-color: #888;
}

.checkboxes input[type="checkbox"]:checked {
  accent-color: #007bff;
  /* Change to your preferred color */
}

.checkboxes input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.campaign-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: start;
  margin: 20px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* style.scss */

/* Container for the checkboxes */
.checkboxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Style for each checkbox item */
.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Style for the toggle button */
.toggle-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.toggle-button:hover {
  background-color: #0056b3;
}

/* Move the accordion toggle icon (chevron) to the left */
#campaignAccordion .accordion-button {
  justify-content: flex-start;
  padding-left: 2rem;
  background-color: white;
  padding: 10px 20px 10px 51px;
  color: #808080;
  font-size: 14px;
  font-weight: bold;
  // border: 2px solid red;
}


#campaignAccordion .accordion-button::after {
  position: absolute;
  top: 8px;
  left: 9px;
  transform: rotate(-180deg);
}


#campaignAccordion .accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}


#campaignAccordion .accordion-button:focus {
  box-shadow: none;
}

#campaignAccordion .accordion-button:not(.collapsed) {
  color: #000;
  font-size: 14px;
  box-shadow: unset;
  background-color: transparent
}

#campaignAccordion .accordion-button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 38px;
  z-index: 0;
  border-right: 1px solid #dbdbdb;
  height: 37px;
  background-color: #dbdbdb;
}

#campaignAccordion .accordion-item {
  border: 1px solid #dee2e6;
}

#campaignAccordion .accordion-button {
  border-bottom: 1px solid #dee2e6;
}



@media all and (min-width: 320px) and (max-width: 575px) {
  .campaign-header {
    font-size: 20px;
  }

  .d-flex.justify-content-between.align-items-center.mb-2 {
    margin-left: 7px;
  }
}



@media all and (min-width: 1200px) and (max-width: 1400px) {
  .checkboxes {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .checkboxes {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .checkboxes {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  .checkboxes {
    grid-template-columns: repeat(3, 1fr);
    // width: 73vw;
  }
}

@media all and (min-width: 320px) and (max-width: 575px) {
  .checkboxes {
    grid-template-columns: repeat(2, 1fr);
    width: 73vw;
  }

  .campaign-header {
    font-size: 22px;
  }

  .checkbox-item {
    margin: 1px;
  }

  .checkboxes {
    gap: 5px;
  }

  .checkbox-item label {
    font-size: 13px;
  }

  .checkbox-item input[type=checkbox] {
    margin-right: 6px;
  }
}




::-webkit-scrollbar {
  width: 5px !important;
  height: 8px !important;
  background-color: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #89c2ff !important;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #89c2ff !important;
}


.mc-campaign-dropdown ::-webkit-scrollbar {
  width: 5px !important;
  height: 8px !important;
  background-color: #f1f1f1 !important;
}

.mc-campaign-dropdown ::-webkit-scrollbar-thumb {
  background: #89c2ff !important;
  border-radius: 20px;
}

.mc-campaign-dropdown ::-webkit-scrollbar-thumb:hover {
  background: #89c2ff !important;
}

.date-suggestions-dropdown {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.suggestion-item {
  display: flex;
  gap: 2px;
}

.react-datepicker__month-container {
  width: 300px;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 8px !important;
  background-color: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #89c2ff !important;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #89c2ff !important;
}


.sidebar_main .left_sidebar .top_scrollbx ::-webkit-scrollbar {
  width: 5px !important;
  height: 8px !important;
  background-color: #f1f1f1 !important;
}

.sidebar_main .left_sidebar .top_scrollbx ::-webkit-scrollbar-thumb {
  background: #89c2ff !important;
  border-radius: 20px;
}

.sidebar_main .left_sidebar .top_scrollbx ::-webkit-scrollbar-thumb:hover {
  background: #89c2ff !important;
}


@media all and (min-width: 320px) and (max-width: 575px) {
  .date-suggestions-dropdown {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column !important;

  }
}