.inputFlexs label {
    margin: 0px;
    font-size: 14px;
}

.col-md-12.inputFlexs {
    margin-bottom: 10px;
}

// p.profile_data.name_space {
//     min-width: 250px;
// }
.col-md-12.inputFlexs label {
    margin-bottom: 0px;
}

// New CSS


.social-media-links i {
    background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);
    padding: 0px;
    color: #fff;
    border-radius: 50px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex.inputFlexs.social-media-links i img {
    height: inherit;
    width: 20px;
    height: 20px;
}


.social-media-links {
    border: 1px solid #e2e2e2;
    display: unset;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 15px !important;
    border-radius: 9px;
    margin-top: 20px;
}

.social-media-links label {
    margin: 0;
    font-size: 14px;
    letter-spacing: .54px;
    font-weight: 600;
}

.social-media-links-inner {
    margin: 8px 0 0 0;
}

.social-media-links label {
    font-size: 16px;
}

.profile-card {
    border-radius: 9px !important;
    border: 0 !important;
    margin-bottom: 15px;
}

.profile-card .col-md-12.inputFlexs label {
    font-weight: 600;
    letter-spacing: 0.44px;
}

.profile-card hr {
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.card.card-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.inputFlexs.width400 {

    margin: 10px auto;
}

.inputFlexs.width400 label {
    font-weight: 600;
    margin-bottom: 1px;
}


p.profile_data {
    padding: 6px 12px;
    margin-bottom: 0px !important;
    font-size: 14px !important;
    font-weight: 400;
    color: #5A5A5A;
    background-color: #f7f7f7;
    border-radius: 6px;
    margin-top: 6px;
    min-height: 38px;
}


.main_title_head_bill {
    padding: 15px 0px 10px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.main_title_head_bill h3 {
    font-size: 20px;
}

.pprofile1   .profileimage {
    height: 100%;
}
.pprofile1 .basic_info{
    background-color: #f7f7f7;
    padding: 12px;
 border-radius: 12px;
 margin-bottom: 16px;
}

// profile csss
.users_detialsbx .profileUsers {
    width: 50px;
    height: 50px;
    border-radius: 67px;
}

.users_detialsbx {border: 1px solid #e8e9ed;padding: 12px;border-radius: 9px; margin-bottom: 15px;}

.users_detialsbx input.radio_users {
    width: 15px;
    height: 15px;
}    

.users_names {
    font-size: 13px;
    margin-bottom: 3px !important;
    font-weight: 600;
}

.users_emails {
    font-size: 12px;
    margin-bottom: 0px !important;
    font-weight: 400;
}

.user-profile_scroller {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 269px;
    padding-right: 5px;
}
.user-profile_scroller::-webkit-scrollbar {
    width: 2px;
}

.user-profile_scroller::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.user-profile_scroller::-webkit-scrollbar-thumb {
    background: transparent;
}
.user-profile_scroller:hover::-webkit-scrollbar-thumb{
    background: #7adbf9;
}

.user-profile_scroller::-webkit-scrollbar-track {
    // background: #f1f1f1;
    background-color:#e8e9ed;
}


.box_div {
    border: 1px solid #dfdfdf;
    padding: 12px;
    border-radius: 12px;
}


// [type="radio"]:checked,
// [type="radio"]:not(:checked) {
//     position: absolute;
//     left: -9999px;
// }
// [type="radio"]:checked + label,
// [type="radio"]:not(:checked) + label
// {
//     position: relative;
//     padding-left: 28px;
//     cursor: pointer;
//     line-height: 20px;
//     display: inline-block;
//     color: #666;
// }
// [type="radio"]:checked + label:before,
// [type="radio"]:not(:checked) + label:before {
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 18px;
//     height: 18px;
//     border: 1px solid #ddd;
//     border-radius: 100%;
//     background: #fff;
// }
// [type="radio"]:checked + label:after,
// [type="radio"]:not(:checked) + label:after {
//     content: '';
//     width: 12px;
//     height: 12px;
//     background: #F87DA9;
//     position: absolute;
//     top: 4px;
//     left: 4px;
//     border-radius: 100%;
//     -webkit-transition: all 0.2s ease;
//     transition: all 0.2s ease;
// }
// [type="radio"]:not(:checked) + label:after {
//     opacity: 0;
//     -webkit-transform: scale(0);
//     transform: scale(0);
// }
// [type="radio"]:checked + label:after {
//     opacity: 1;
//     -webkit-transform: scale(1);
//     transform: scale(1);
// }
.title_body {
    font-size: 16px !important;
    border: 1px solid #c1c1c1;
    padding: 6px 12px;
    background-color: aliceblue;
    border-radius: 4px;
}
.sert {
    margin: 20px 0px;
    padding: 0px 16px;
}

.sert h5 {
    font-size: 16px;
}
.modal_bx{
    border: 1px solid #c8c9d1;
    margin-bottom: 13px;
    border-radius: 8px;
    border-top: 0px;
}
.activity_modals .modal-dialog {
    max-width: 600px !important;
}
.height_fix{
    height: 200px;
}
img.n-databx {
    width: 100%;
    height: 100%;
    max-width: 200px;
    object-fit: contain;
}