.heighteual {
    height: auto;
    width: 40px;
}

.card_box {
    border-radius: 7.588px;
    background: #FFF;
    box-shadow: 1.50808px 6.03233px 18.097px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}


.imgtag_card>* {
    margin: 10px;
    /* Adjust this value as needed */
}

.cpadd {
    padding: 60px 0px;
}

.contactus .card_box {
    margin-bottom: 20px;
}