/* Modal overlay */
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal content */
  .ReactModal__Content {
    position: relative;
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  
  button:disabled {
    background-color: #ccc; /* Grayed out when disabled */
    cursor: not-allowed;
  }
  
  /* Close button */
  .ReactModal__CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #999;
  }
  

  .arrowpoint{
    font-size: 13px;
    cursor: pointer;
  }


  .search_market {
    // width: 250px !important;
    max-width: 100% !important;
    padding-right: 33px !important;
}
.schbx {
  position: absolute;
  font-size: 14px;
  top: 12px;
  right: 12px;
  color: #00baff;
}