/* Modal overlay */
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal content */
  .ReactModal__Content {
    position: relative;
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .mapping-wrapper {
    padding: 20px;
}
  button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  
  button:disabled {
    background-color: #ccc; /* Grayed out when disabled */
    cursor: not-allowed;
  }
  
  /* Close button */
  .ReactModal__CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #999;
  }
  

  .arrowpoint{
    font-size: 13px;
    cursor: pointer;
  }


  .search_market {
    // width: 250px !important;
    max-width: 100% !important;
    padding-right: 33px !important;
}
.schbx {
  position: absolute;
  font-size: 14px !important;
  top: 12px;
  right: 12px;
  color: #595a5a;
}

.types_dates{
  font-size: 13px;
  color: #454444;
  font-weight: 600;
  margin: 0px;
  height: auto;
}

.date_types {
  font-size: 13px;
  color: #6a6565;
  margin: 0px;
  height: auto;
  text-transform: capitalize;
}

//filter css 
.filter_modal .modal-dialog {
  max-width: 350px;
  margin: 0px;
  margin-left: auto;
}
.filter_ullist {
  padding: 0px;
  list-style: none;
  margin: 0px;
}
.filter_ullist li {
  margin-bottom: 12px;
}

.filter_ullist .form-check label {font-size: 14px;font-weight: 500;}

.shw_more {
  color: #007bff !important;
  font-weight: 400;
}
.filter_modal .btn-outline-secondary {
  color: #007bff !important;
  border-color: unset;
  border-radius: 40px !important;
  font-size: 14px;
}

.filter_modal .btn-outline-secondary:hover {
  color: #fff !important;
  background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);
  border-color: unset;
}
.filter_modal .accordion-button:not(.collapsed) {
  color: #ffffff;
  background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);
  box-shadow: unset !important;
  border: unset !important;
  font-size: 14px !important;
  display: flex;
  padding: 8px;  
  border-radius: 6px;
  justify-content: space-between;
}
.filter_modal .accordion-button::after{
  display: none;
}
.down_typs{
  font-size: 18px;
}

.filter_modal  .accordion-item {
  color: #000;
  background-color: #f1f1f1b5;
  border: 0px;
  // border-bottom: 1px solid #000;
 
}
.filter_modal .modal-body {
  background-color: #f1f1f1b5;
}
.filter_modal  .accordion-button::after {
  margin-left: 10px !important;
}
.filter_modal .accordion-header button {
  padding-left: 0px;
}
.filter_modal .accordion-item:last-of-type .accordion-button.collapsed{
  // border-radius: unset;
  color: #ffffff;
  background: linear-gradient(40deg, #032E72 -25.12%, #00BAFF 76.03%);
  box-shadow: unset !important;
  border: unset !important;
  font-size: 14px !important;
  display: flex;
  padding: 8px;
  margin-bottom: 12px;
  justify-content: space-between;
  border-radius: 6px;
}
.filter_modal .accordion-body {
  padding-left: 5px;
}
// .filter_modal  .modal-content {
//   height: 100vh;
// }
.filter_modal .modal-header {
  border-bottom: 1px solid #c3c3c3;
}
.filter_modal  .modal-footer {
  border-top: 1px solid #c3c3c3;
  background-color: #f1f1f1b5;
}
.filter_modal .modal-content{
  min-height: 100vh;
}
.btn_primary {width: 30px;height: 30px;}

.show_morebx {
  font-size: 12px;
}
.profile_height .show_morebx {
  position: absolute;
  bottom: 2px;
  border-radius: 4px;
  border: 1px solid #8aacfd;
  left: 33px;
  background-color: #f0f2f5;
  padding: 0px 6px;
}


.profile_height {
  height: 68px;
  position: relative;
}

.disable_check {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  position: relative;
  top: 4px;
}